package ${package.Controller};

import cn.hutool.core.lang.Snowflake;
import ${resultName};
import ${package.Entity}.${entity};
import $!{reqPackName}.${entity}${reqSuffix};
import $!{package.Service}.$!{table.serviceName};
## import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
## import com.baomidou.mybatisplus.core.toolkit.Wrappers;
## import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import org.springframework.beans.BeanUtils;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
    #if(${superControllerClassPackage})
import ${superControllerClassPackage};
    #end

import javax.annotation.Resource;
import javax.validation.Valid;
## import java.util.Map;

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
@Api(value = "$!{table.comment}", tags = "$!{table.comment}管理")
@Validated
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end
#else
    #if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
    #else
public class ${table.controllerName} {
    #end

    @Resource
    private $!{table.serviceName} $!{table.entityPath}Service;

    @Resource
    private Snowflake idWorker;

    /**
     * 新增 $!{table.entityName}
     *
     * @param req req
     * @return Result
     */
    @PostMapping
    @ApiOperation(value = "新增 $!{table.comment}")
    public ${resultSimpleName}<$!{table.entityName}> create(@Valid @RequestBody ${entity}Req req) {
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(req, entity);
        ${idClassName} id =#if(${isString}) idWorker.nextIdStr(); #else idWorker.nextId(); #end
        entity.setId(id);
        boolean saved = $!{table.entityPath}Service.save(entity);
        return saved ? ${resultSimpleName}.${success}(entity) : ${resultSimpleName}.${failure}();
    }

    /**
     * 根据ID删除 $!{table.entityName}
     *
     * @param id id
     * @return Result
     */
    @DeleteMapping("/{id}")
    @ApiOperation(value = "根据ID删除 $!{table.comment}")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", required = true, paramType = "path"),
    })
    public ${resultSimpleName}<?> deleteById(@PathVariable ${idClassName} id) {
        boolean removed = $!{table.entityPath}Service.removeById(id);
        return removed ? ${resultSimpleName}.${success}() : ${resultSimpleName}.${failure}();
    }

    /**
     * 根据ID修改 $!{table.entityName}
     *
     * @param id id
     * @return Result
     */
    @PutMapping("/{id}")
    @ApiOperation(value = "根据ID修改 $!{table.comment}")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", required = true, paramType = "path"),
    })
    public ${resultSimpleName}<?> updateById(@PathVariable ${idClassName} id, @Valid @RequestBody ${entity}Req req) {
        ${entity} entity = new ${entity}();
        BeanUtils.copyProperties(req, entity);
        entity.setId(id);
        boolean updated = $!{table.entityPath}Service.updateById(entity);
        return updated ? ${resultSimpleName}.${success}() : ${resultSimpleName}.${failure}();
    }

    /**
     * 根据ID查询 $!{table.entityName}
     *
     * @param id id
     * @return Result
     */
    @GetMapping("/{id}")
    @ApiOperation(value = "根据ID查询 $!{table.comment}")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", required = true, paramType = "path"),
    })
    public ${resultSimpleName}<$!{table.entityName}> getById(@PathVariable ${idClassName} id) {
        return ${resultSimpleName}.${success}($!{table.entityPath}Service.getById(id));
    }
}

#end